body{
	font-size: 15px;
	color: #292F33;
	font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN',Meiryo,メイリオ,'YuGothic','游ゴシック',Helvetica,Arial,sans-serif;

}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;


  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
article {
	overflow: hidden;
	border-radius: 20px;
	margin: 70px auto 15px auto;
	padding: 10px;
	background-color: #FFFFFF;
	width: 650px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
h4 {
	position: relative;
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #3498db;
}
h4::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1px solid #ccc;
}
h2{
	padding-top: 20px;
	padding-bottom: 20px;
}
.login {
	margin: 0 auto;
	text-align: center;
}

.center{
	text-align:center;
}

.text{
	margin: 40px auto 0 auto;
	width: 60%;
	line-height: 4em
}

.list{
	margin: 40px auto 0 auto;
	width: 50%;
	line-height: 1em

}
.listname{
	font-size: 18px;
}
p {
    width: 70px;
}
.right {
    margin-left: auto;
}

dl{
	width:150px;
}
.loginbtn{
	margin-left: auto;
	margin-right: auto;
}
.submit{
	margin-left: auto;
	margin-right: auto;

}
h5{
	font-size: 15px;
	padding: .1em .1em .1em .1em;
	border-bottom: 3px double #ccc;
}

.header{
	font-size: 14px;
	line-height: 1px;
	vertical-align: bottom;
	padding: 20px;
	text-align: right;

}
img {
	margin-left: 10px;
	margin-right: 10px;

}
<<<<<<< HEAD
=======
/*
>>>>>>> branch 'master' of https://github.com/aso1501162/kadai2
a:not(.btn),a:link:not(.btn) {
color: #696969;
text-decoration: none;
}
a:hover:not(.btn) {
color: #d3d6db;
}
form{
	width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.subcenter{
	width:65%;
	margin: 0 auto;
}